* {
  box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.row {
  background: none;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.row > div {
  background: none;
  padding: 20px;
}
.column-constant {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  width: 90%;
}
.column-constant > div {
  margin: 1%;
}
#dark {
  padding: 50px;
  background-color: rgb(44, 44, 44);
}
.white{
  background: none;
  color: rgb(255, 255, 255);
}
.black{
  background: none;
  color: rgb(0, 0, 0);
  margin-bottom: 5%;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
b{
  background: none;
}
ul {
  margin-left: 5%;
  font-size: large;
  background: none;
}
li {
  background: none;
}
h2{
  text-decoration: underline;
  margin-bottom: 5%;
}
h3{
  margin-left: 2.5%;
  margin-bottom: 5%;
}
p{
  margin-left: 5%;
  margin-bottom: 5%;
}
img{
  margin-bottom: 5%;
}
#light {
  padding: 50px;
  background-color: #ffffff;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.rounded{
  border-radius: 10%;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
th {
    background-color: #c6c6c6;
}
td {
    background-color: #ffffff;
    text-align: center;
}
td, th {
  border: 3px solid #323232;
  padding: 8px;
}
@media screen and (max-width: 700px) {
  ul, a{
    font-size: medium;
  }
  h1, h2, h3, p {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  ul{
    font-size: x-large;
  }
  h1, h2, h3, p {
    font-size: x-large;
    text-align: left;
  }
  h3, h4, a {
    font-size: x-large;
  }
  table {
    font-size: x-large;
  }
}